USE [agvDB_1400004]
GO
/****** Object:  Table [dbo].[oMission]    Script Date: 2024/9/4 上午 08:59:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oMission](
	[TaskDateTime] [nvarchar](20) NOT NULL,
	[SerialNo] [bigint] NOT NULL,
	[BeginStation] [nvarchar](20) NOT NULL,
	[EndStation] [nvarchar](20) NOT NULL,
	[TaskSource] [nvarchar](20) NOT NULL,
	[TaskCode] [nvarchar](50) NULL,
	[ShuttleId] [bigint] NULL,
	[RackId] [nvarchar](20) NULL,
	[WorkOrder] [nvarchar](100) NULL,
	[Remark1] [nvarchar](50) NULL,
	[Remark2] [nvarchar](50) NULL,
	[Remark3] [nvarchar](50) NULL,
	[OkFlag] [nvarchar](1) NULL,
	[BeginTime] [nvarchar](20) NULL,
	[EndTime] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oNeed]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oNeed](
	[ObjStation] [nvarchar](20) NOT NULL,
	[RackId] [nvarchar](50) NULL,
	[WorkOrder] [nvarchar](100) NULL,
	[EndStation] [nvarchar](20) NULL,
	[TaskSource] [nvarchar](20) NULL,
	[TaskDateTime] [nvarchar](20) NULL,
	[AssignFlag] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oPairWay]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oPairWay](
	[InStation] [nvarchar](20) NOT NULL,
	[Weights] [int] NULL,
	[OutStation_01] [nvarchar](20) NULL,
	[OutStation_02] [nvarchar](20) NULL,
	[OutStation_03] [nvarchar](20) NULL,
	[OutStation_04] [nvarchar](20) NULL,
	[OutStation_05] [nvarchar](20) NULL,
	[OutStation_06] [nvarchar](20) NULL,
	[OutStation_07] [nvarchar](20) NULL,
	[OutStation_08] [nvarchar](20) NULL,
	[OutStation_09] [nvarchar](20) NULL,
	[OutStation_10] [nvarchar](20) NULL,
	[OutStation_11] [nvarchar](20) NULL,
	[OutStation_12] [nvarchar](20) NULL,
	[OutStation_13] [nvarchar](20) NULL,
	[OutStation_14] [nvarchar](20) NULL,
	[OutStation_15] [nvarchar](20) NULL,
	[OutStation_16] [nvarchar](20) NULL,
	[OutStation_17] [nvarchar](20) NULL,
	[OutStation_18] [nvarchar](20) NULL,
	[OutStation_19] [nvarchar](50) NULL,
	[OutStation_20] [nvarchar](20) NULL,
	[OutStation_21] [nvarchar](20) NULL,
	[OutStation_22] [nvarchar](20) NULL,
	[OutStation_23] [nvarchar](20) NULL,
	[OutStation_24] [nvarchar](50) NULL,
	[OutStation_25] [nvarchar](20) NULL,
	[OutStation_26] [nvarchar](20) NULL,
	[OutStation_27] [nvarchar](20) NULL,
	[OutStation_28] [nvarchar](20) NULL,
	[OutStation_29] [nvarchar](20) NULL,
	[OutStation_30] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oPort]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oPort](
	[Area] [nvarchar](10) NULL,
	[Block] [nvarchar](10) NULL,
	[Port] [int] NULL,
	[StationNo] [nvarchar](20) NOT NULL,
	[InterfaceName] [nvarchar](200) NULL,
	[PanelCallShuttle] [nvarchar](1) NULL,
	[Priority] [int] NULL,
	[ProductionPartNo] [nvarchar](50) NULL,
	[UseFlag] [nvarchar](1) NULL,
	[RackId] [nvarchar](50) NULL,
	[WorkOrder] [nvarchar](100) NULL,
	[HaveFlag] [nvarchar](1) NULL,
	[Remark] [nvarchar](100) NULL,
	[PutTime] [nvarchar](20) NULL,
	[BgnToEnd] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oRequire]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oRequire](
	[TaskDateTime] [nvarchar](20) NOT NULL,
	[ObjStation] [nvarchar](20) NOT NULL,
	[SerialNo] [bigint] NOT NULL,
	[BeginStation] [nvarchar](20) NULL,
	[EndStation] [nvarchar](20) NULL,
	[TaskSource] [nvarchar](20) NULL,
	[RackId] [nvarchar](20) NULL,
	[WorkOrder] [nvarchar](100) NULL,
	[AssignFlag] [nvarchar](1) NULL,
	[OkFlag] [nvarchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[oShuttle]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oShuttle](
	[ShuttleId] [bigint] NOT NULL,
	[GustomerName] [nvarchar](100) NULL,
	[Ip] [nvarchar](24) NULL,
	[Port] [nvarchar](4) NULL,
	[ShuttleSize] [nvarchar](1) NULL,
	[Enabled] [nvarchar](1) NULL,
	[Battery] [int] NULL,
	[Status] [nvarchar](2) NULL,
	[LastStation] [nvarchar](20) NULL,
	[BeginStation] [nvarchar](20) NULL,
	[EndStation] [nvarchar](20) NULL,
	[PosX] [nvarchar](8) NULL,
	[PosY] [nvarchar](8) NULL,
	[RobotDir] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pFunction]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pFunction](
	[ColumnNo] [smallint] NULL,
	[RowNo] [smallint] NULL,
	[FunctionNo] [smallint] NULL,
	[FunctionType] [nvarchar](50) NULL,
	[FunctionEnglishName] [nvarchar](50) NULL,
	[FunctionChineseName] [nvarchar](50) NULL,
	[ControlFlag] [nvarchar](1) NULL,
	[WebUrl] [nvarchar](200) NULL,
	[WebIcon] [nchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pGroup]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pGroup](
	[GroupId] [nvarchar](20) NOT NULL,
	[GroupEName] [nvarchar](50) NULL,
	[GroupCName] [nvarchar](50) NULL,
	[LogoutTime] [int] NULL,
	[FunctionGroup] [nvarchar](2000) NULL,
	[ModifiedTime] [nvarchar](14) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pShift]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pShift](
	[ShiftCode] [nvarchar](20) NULL,
	[ShiftName] [nvarchar](10) NULL,
	[BeginDateTime] [nvarchar](20) NULL,
	[EndDateTime] [nvarchar](20) NULL,
	[EffectDateTime] [nvarchar](20) NULL,
	[ModifiedTime] [nvarchar](14) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pUser]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pUser](
	[UserId] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[GroupId] [nvarchar](20) NULL,
	[Mail] [nvarchar](50) NULL,
	[Tel] [nvarchar](20) NULL,
	[ModifiedTime] [nvarchar](14) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubActivation]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubActivation](
	[TaskDateTime] [nvarchar](20) NOT NULL,
	[ShuttleStation] [nvarchar](20) NOT NULL,
	[BeginStation] [nvarchar](20) NOT NULL,
	[EndStation] [nvarchar](20) NOT NULL,
	[ReceivingTime] [nvarchar](20) NOT NULL,
	[BeginTime] [nvarchar](20) NULL,
	[EndTime] [nvarchar](20) NULL,
	[ShuttleId] [nvarchar](20) NULL,
	[TaskType] [nvarchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubMission]    Script Date: 2024/9/4 上午 08:59:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubMission](
	[TaskDateTime] [nvarchar](20) NOT NULL,
	[SerialNo] [bigint] NOT NULL,
	[BeginStation] [nvarchar](20) NOT NULL,
	[EndStation] [nvarchar](20) NOT NULL,
	[TaskSource] [nvarchar](20) NOT NULL,
	[TaskCode] [nvarchar](50) NULL,
	[ShuttleId] [bigint] NULL,
	[RackId] [nvarchar](20) NULL,
	[WorkOrder] [nvarchar](100) NULL,
	[Remark1] [nvarchar](50) NULL,
	[Remark2] [nvarchar](50) NULL,
	[Remark3] [nvarchar](50) NULL,
	[OkFlag] [nvarchar](1) NULL,
	[BeginTime] [nvarchar](20) NULL,
	[EndTime] [nvarchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[oPort] ([Area], [Block], [Port], [StationNo], [InterfaceName], [PanelCallShuttle], [Priority], [ProductionPartNo], [UseFlag], [RackId], [WorkOrder], [HaveFlag], [Remark], [PutTime], [BgnToEnd]) VALUES (N'FHT', N'A', 1, N'A1', NULL, N'Y', 50, NULL, N'Y', N'', N'', N'0', N'235927,213728,0', NULL, N'')
INSERT [dbo].[oPort] ([Area], [Block], [Port], [StationNo], [InterfaceName], [PanelCallShuttle], [Priority], [ProductionPartNo], [UseFlag], [RackId], [WorkOrder], [HaveFlag], [Remark], [PutTime], [BgnToEnd]) VALUES (N'FHT', N'A', 2, N'A2', NULL, N'Y', 50, NULL, N'Y', N'', N'', N'0', N'235041,213729,0', NULL, N'')
INSERT [dbo].[oPort] ([Area], [Block], [Port], [StationNo], [InterfaceName], [PanelCallShuttle], [Priority], [ProductionPartNo], [UseFlag], [RackId], [WorkOrder], [HaveFlag], [Remark], [PutTime], [BgnToEnd]) VALUES (N'FHT', N'A', 3, N'A3', NULL, N'Y', 50, NULL, N'Y', NULL, NULL, N'0', N'234151,213728,0', NULL, N'')
GO
INSERT [dbo].[oShuttle] ([ShuttleId], [GustomerName], [Ip], [Port], [ShuttleSize], [Enabled], [Battery], [Status], [LastStation], [BeginStation], [EndStation], [PosX], [PosY], [RobotDir]) VALUES (1, N'AGV-1', N'192.168.7.115', N'8080', N'S', N'Y', 84, N'I', N'E4', N'E4', N'E3', N'198371', N'204062', N'0')
INSERT [dbo].[oShuttle] ([ShuttleId], [GustomerName], [Ip], [Port], [ShuttleSize], [Enabled], [Battery], [Status], [LastStation], [BeginStation], [EndStation], [PosX], [PosY], [RobotDir]) VALUES (2, N'AGV-2', N'192.168.7.124', N'8080', N'S', N'Y', 89, N'I', N'E4', N'E4', N'E5', N'201048', N'202778', N'180')
GO
INSERT [dbo].[pFunction] ([ColumnNo], [RowNo], [FunctionNo], [FunctionType], [FunctionEnglishName], [FunctionChineseName], [ControlFlag], [WebUrl], [WebIcon]) VALUES (1, 0, 100, N'Status', N'Home', N'戰情首頁', N'Y', N'', N'fa-solid fa-house                                 ')
INSERT [dbo].[pFunction] ([ColumnNo], [RowNo], [FunctionNo], [FunctionType], [FunctionEnglishName], [FunctionChineseName], [ControlFlag], [WebUrl], [WebIcon]) VALUES (7, 0, 700, N'About', N'About', N'關於', N'Y', NULL, N'fa fa-tasks                                       ')
INSERT [dbo].[pFunction] ([ColumnNo], [RowNo], [FunctionNo], [FunctionType], [FunctionEnglishName], [FunctionChineseName], [ControlFlag], [WebUrl], [WebIcon]) VALUES (7, 1, 701, N'About', N'About SAA', N'迅得機械', N'Y', NULL, NULL)
GO
INSERT [dbo].[pGroup] ([GroupId], [GroupEName], [GroupCName], [LogoutTime], [FunctionGroup], [ModifiedTime]) VALUES (N'1', N'Administrator', N'管理者', 24, N'102,201,301,302', N'20240612143926')
INSERT [dbo].[pGroup] ([GroupId], [GroupEName], [GroupCName], [LogoutTime], [FunctionGroup], [ModifiedTime]) VALUES (N'2', N'Enginer', N'備料人員', 12, N'102,201,301,302,401,402,501,502', N'20240730191715')
INSERT [dbo].[pGroup] ([GroupId], [GroupEName], [GroupCName], [LogoutTime], [FunctionGroup], [ModifiedTime]) VALUES (N'3', N'Operate', N'生產人員', 6, N'401,402,403,404,501,502,503,504,505,604,701,702', N'20240730191715')
GO
INSERT [dbo].[pShift] ([ShiftCode], [ShiftName], [BeginDateTime], [EndDateTime], [EffectDateTime], [ModifiedTime]) VALUES (N'0001', N'早班', N'08:30', N'20:30', N'2024-05-01', N'20240816095413')
INSERT [dbo].[pShift] ([ShiftCode], [ShiftName], [BeginDateTime], [EndDateTime], [EffectDateTime], [ModifiedTime]) VALUES (N'0002', N'晚班', N'20:30', N'08:30', N'2024-05-01', N'20240816095432')
GO
INSERT [dbo].[pUser] ([UserId], [UserName], [Password], [GroupId], [Mail], [Tel], [ModifiedTime]) VALUES (N'1', N'林俊男', N'12', N'1', N'denis.lin@saa-symtek.com', N'034556870', N'20240524162547')
INSERT [dbo].[pUser] ([UserId], [UserName], [Password], [GroupId], [Mail], [Tel], [ModifiedTime]) VALUES (N'2', N'顧金豐', N'2', N'2', N'jack.kuo@saa-symtek.com', N'0963939611', N'20240524093521')
INSERT [dbo].[pUser] ([UserId], [UserName], [Password], [GroupId], [Mail], [Tel], [ModifiedTime]) VALUES (N'3', N'沈俊宏', N'3', N'3', N'mate.san@saa-symtek.com', N'0963155092', N'20211019094412')
GO
INSERT [dbo].[ubActivation] ([TaskDateTime], [ShuttleStation], [BeginStation], [EndStation], [ReceivingTime], [BeginTime], [EndTime], [ShuttleId], [TaskType]) VALUES (N'1', N'E3', N'E3', N'E4', N'20240814135119717358', N'20240815112455668543', N'20240815112543454494', N'2', N'R')
INSERT [dbo].[ubActivation] ([TaskDateTime], [ShuttleStation], [BeginStation], [EndStation], [ReceivingTime], [BeginTime], [EndTime], [ShuttleId], [TaskType]) VALUES (N'20240814151932389995', N'C', N'C', N'C', N'20240814151932389995', N'20240814151932389995', N'20240814152006701729', N'2', N'C')
INSERT [dbo].[ubActivation] ([TaskDateTime], [ShuttleStation], [BeginStation], [EndStation], [ReceivingTime], [BeginTime], [EndTime], [ShuttleId], [TaskType]) VALUES (N'20240814152007733045', N'C', N'C', N'C', N'20240814152007733045', N'20240814152007733045', N'20240814152024422563', N'2', N'C')
GO
INSERT [dbo].[ubMission] ([TaskDateTime], [SerialNo], [BeginStation], [EndStation], [TaskSource], [TaskCode], [ShuttleId], [RackId], [WorkOrder], [Remark1], [Remark2], [Remark3], [OkFlag], [BeginTime], [EndTime]) VALUES (N'1', 1, N'E3', N'E4', N'1', N'F0011914F70D76C12U8', 2, N'Rack05', NULL, NULL, NULL, NULL, N'Y', N'20240812135119717358', N'20240812135205005125')
INSERT [dbo].[ubMission] ([TaskDateTime], [SerialNo], [BeginStation], [EndStation], [TaskSource], [TaskCode], [ShuttleId], [RackId], [WorkOrder], [Remark1], [Remark2], [Remark3], [OkFlag], [BeginTime], [EndTime]) VALUES (N'23', 1, N'E4', N'E3', N'1', N'F00119154046C2015KZ', 2, N'Rack05', NULL, NULL, NULL, NULL, N'Y', N'20240814111059742405', N'20240814111147106356')
INSERT [dbo].[ubMission] ([TaskDateTime], [SerialNo], [BeginStation], [EndStation], [TaskSource], [TaskCode], [ShuttleId], [RackId], [WorkOrder], [Remark1], [Remark2], [Remark3], [OkFlag], [BeginTime], [EndTime]) VALUES (N'12345', 1, N'E3', N'E2', N'1', N'F001191540865CB15MK', 2, N'Rack05', NULL, NULL, NULL, NULL, N'Y', N'20240813111520259136', N'20240813111604826090')
GO
