<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SectionDB" type="HikAGVWebAPI.SectionDB, HikAGVWebAPI"/>
    <section name="SectionLog" type="HikAGVWebAPI.SectionLog, HikAGVWebAPI"/>
    <section name="SectionFHt" type="HikAGVWebAPI.SectionFHt, HikAGVWebAPI"/>
    <section name="SectionElevator" type="HikAGVWebAPI.SectionElevator, HikAGVWebAPI"/>
    <section name="SectionSensorClear" type="HikAGVWebAPI.SectionSensorClear, HikAGVWebAPI"/>
  </configSections>

  <SectionDB>
    <DBSettings DBIP="127.0.0.1" DBName="agvDB_1400004_1" UserID="mcs" Password="Zz123456" />
  </SectionDB>

  <SectionLog>
    <LogSettings LogPath="C:\Logs\" KeepDate="60" />
  </SectionLog>

  <SectionFHt>
    <FHtSettings ContentType="application/x-www-form-urlencoded" WebURL="http://172.16.10.21//API//TeamService.ashx?ask=postMessage" Teamcode="291" APIAccount="va_2fd8dfef3c1d4c5293" APIKey="fd337716-fb34-4ee8-9f3a-55aec9a37fad" LowBattery="40,25" TestMode="false" />
  </SectionFHt>

  <SectionElevator>
    <ElevatorSettings 
      CustomerElevatorFloors="1F,2F,3F"
      CustomerElevatorWaitPoints="1F:U1,2F:V1,3F:W1"
      CustomerElevatorInsidePoints="1F:U2,2F:V2,3F:W2"
      FreightElevatorFloors="3F,4F"
      FreightElevatorWaitPoints="3F:X1,4F:Y1"
      FreightElevatorInsidePoints="3F:X2,4F:Y2"
      StationFloorMapping="A:1F,B:1F,C:1F,K:3F,L:3F,M:3F" />
  </SectionElevator>

  <SectionSensorClear>
    <!-- Enable：總開關；StationNumber：MX Component Logical Station No；
         PollIntervalMs：輪詢間隔(ms)；ConfirmCount：連續確認輪數(去抖)；
         SensorMap："PLC位址:庫位StationNo"，逗號分隔可多筆 -->
    <SensorClearSettings Enable="true" StationNumber="1" PollIntervalMs="1000" ConfirmCount="3" SensorMap="M10:B1" />
  </SectionSensorClear>
</configuration>