<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!--[變數] 文字樣板 -->
	<variable name="Layout" value="${longdate} | ${level:uppercase=true} | ${message} ${newline}"/>
	<variable name="LayoutFatal" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} | ${exception:format=tostring} ${newline}"/>
	<!--[變數] 檔案位置 -->
	<variable name="LogTxtLocation" value="${basedir}/LogFiles/${shortdate}.log"/>

	<targets>
		<target name="logfile" xsi:type="File" fileName="${LogTxtLocation}" layout="${Layout}"/>
	</targets>

	<rules>
		<logger name="Logger" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>